.containerSidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  flex-wrap: wrap;

  .containerIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 5px;

    a {
      color: aliceblue;

      &:hover {
        color: gray;
        transition: 0.2s;
      }
    }

    span {
      width: 40px;
      height: 40px;

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}
