.containerHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	.img {
		.containerLogo {
			display: flex;
			cursor: pointer;
			width: 100px;
			height: 100px;
		}
	}

	.buttons {
		display: flex;
		align-items: center;

		.imageProfile {
			width: 50px;
			height: 50px;
			margin-right: 20px;
			transition: 0.3s;
			cursor: pointer;
			border: 1px solid green;

			&:hover {
				border: 1px solid orange;
			}
		}

		.ant-btn {
			a {
				color: white;
			}
		}
	}
}
