.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .img {
    .containerLogo {
      display: flex;
      cursor: pointer;
      width: 100px;
      height: 100px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;

    .ant-btn {
      height: 50px;
      font-size: 20px;

      a {
        color: white;
      }
    }
  }
}
