.container {
  margin-bottom: 100px;

  .post {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    background-color: #364037;
    cursor: pointer;

    .image {
      height: 400px;
      width: 500px;
      margin: 50px;
    }

    .containerAboutPost {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 550px;

      .createTime {
        letter-spacing: 1px;
        font-size: 11px;
      }

      .title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .aboutPost {
        letter-spacing: 1px;
        font-size: 20px;
        overflow: hidden;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      .footerPost {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid gray;
        width: 100%;
        padding-top: 20px;
        margin-top: 50px;
        .like {
          display: flex;
          gap: 0 20px;
          align-items: center;

          svg {
            font-size: 20px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
