.container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  width: 1400px;
  flex-wrap: wrap;
  justify-content: center;

  .post {
    width: calc(90% / 3);
    border: 1px solid gray;
    margin: 20px;
    height: 400px;

    .image {
      height: 50%;
      width: 100%;
    }

    .containerAboutPost {
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        height: 70%;
        padding: 40px 50px;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #364037;

        &:hover {
          color: #f4dec9;
        }
      }

      .footerPost {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid gray;
        width: 80%;
        height: 30%;

        .infoPost {
          display: flex;

          .comment {
            display: flex;
            gap: 0 10px;
            align-items: center;

            margin-right: 30px;
            svg {
              font-size: 30px;
            }
            p {
              font-size: 20px;
            }
          }

          .view {
            display: flex;
            gap: 0 10px;
            align-items: center;

            svg {
              font-size: 30px;
            }
            p {
              font-size: 20px;
            }
          }
        }

        .editContainer {
          display: flex;
          align-items: center;

          .edit {
            display: flex;
            align-items: center;
            margin-right: 30px;

            svg {
              font-size: 30px;
              color: green;

              &:hover {
                color: gray;
              }
            }
          }

          span {
            font-size: 30px;
            color: red;
            cursor: pointer;

            &:hover {
              color: gray;
            }
          }
        }
      }
    }
  }
}
